
*{
    font-family: open-sans, sans-serif;
    color: #665544;
    box-sizing: border-box;
    padding: 5px
}

body{
    width:none;
    margin-top:auto;
    font-family: open-sans, sans-serif;
    align-content: center;
    text-align: center;
}

#header{
    width: 100%;

}

#nav, #footer{
    background-color: #efefef;
    padding:3px 3px;
    position: relative;
    margin-bottom: auto;
    text-align: center;
    width: 100%;
}

h1{
    font-family: timberline, sans-serif;
    font-size: xxx-large;
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;

}

#alert {
    background: darkseagreen;
    background-blend-mode: lighten;
    -webkit-animation-timing-function: ease-in-out;
    opacity: 0.5;
    height: 45px;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

span.message {
    color: white;
}

button.close:hover {
    color: black;
}

button.close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    height: 10px;
    width: 10px;
    display: none;
}

span.close {
    color: white;
}


#intro {
    text-align: center;
    padding: 5px;
}

#emp_search, #mem_search {
    background-image: url('Vector_search_icon.svg');
    /*By MediaWiki authors - MediaWiki Vector skin, Public Domain, https://commons.wikimedia.org/w/index.php?curid=44788763*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 65%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.footer-link{
    display: inline;

}

.navigation-link{
    padding: 0.5em;
    overflow: hidden;
    display: inline;
    text-decoration-color: #717171;
}

a:link{
    text-decoration: none;
}

a.navigation-link:hover{
    background-color: gray;
}

.navigation-link.current{
    border-width: thick;
    text-decoration-color: #e7e3d8;
    background-color: gray;

}

.other-tables{
    text-align:center;
}

input.button:hover{
    background-color: gray;
}

li{
    list-style-type: none;

}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 25px;
}


#thead {
    color: whitesmoke;
}

.nostretch{ 
    margin-left:auto; 
    margin-right:auto; 
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color:  #717171;
    font-size: 20px;
    color: whitesmoke;
}

tr:hover{
    background-color: lightgray;
}
table{
    border-collapse: collapse;
}


tr,td {
    text-align:left;
    white-space: nowrap;
}

#insert-right{
    text-align: right;
}
#emp_search, #search{
    text-align: left;
}
button{
    text-align: left;
}