body {
	background-color: #dedede;
}

.content {
	width:800px !important;
	margin: 0 auto;
	border: 5 px solid black;
}

.head {
	max-width: 800px;
	margin: 0 auto;
	text-align: center
}

.topnav {
	background-color: #AA151B;
	overflow: hidden;
	max-width: auto;
	margin:0 auto;
}

.topnav a {
	color: #CCCCCC;
	text-align: center;
	padding: 10px 15px;
	font-size: 20px;
	text-decoration: none;	
	float: left;
}

.topnav a.active {
	color: #111;
	background-color: #F1BF00;
	padding: 10px 15px;
	font-size: 20px;
	border: 5 px solid #111;
}

.topnav a:hover {
	background-color: #F1BF00;
	color:#111;
}

.input[type=text] {
	width: 100%;
}

.carousel {
  width:800px !important;
  height:500px !important;
  margin: auto;
}

.content iframe {
	max-width: 800px !important;
	max-height: 450px !important;
	padding-bottom: 0px;
}

.embed-responsive.embed-responsive-16by9
{
padding-bottom: 0px;
	max-width: 800px !important;
	max-height: 450px !important;
}

.table {
	cellspacing = 10px;
}