{% extends "main.j2" %}
{% block title %}Members{% endblock %} 
{% set active_page = "members" %}
{% block content %}
<h3> Add new member:</h3>
<form id ="addperson" action="/add_member" method="POST">
    First name: <input type="text" name="f_name" required><br>
    <br>
    Last name: <input type="text" name="l_name" required><br>
    <br>
    Gender: <select name="gender" required>
        <option value="MALE"> Male</option>
        <option value="FEMALE"> Female</option>
        <option value="NONBINARY"> NonBinary</option>
    </select><br>
    <br>
    Address 1: <input type="text" name="address_1" required><br>
    <br>
    Address 2:<input type="text" name="address_2"><br>
    <br>
    City: <input type="text" name="city" required><br>
    <br>
    State: <input type="text" name="state" minlength="2" maxlength="2" required><br>
    <br>
    Zip: <input type="text" name="zip" minlength="5" maxlength="5" required><br>
    <br>
    Telephone: <input type="tel" name="tel" minlength="12" maxlength="12" placeholder="123-456-7890"
                      pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br>
    <small>Format: 123-456-7890</small><br><br><br>
    <br>
    Email: <input type="email" name="email" required><br>
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
