
<h3> Add new member:</h3>
<form id ="addperson" action="/add_member" method="POST">
    First name: <input type="text" name="f_name"><br>
    Last name: <input type="text" name="l_name"><br>
    Gender: <select name="gender">
        <option value="MALE"> Male</option>
        <option value="FEMALE"> Female</option>
        <option value="NONBINARY"> NonBinary</option>
    </select><br>
    Address 1: <input type="text" name="address_1"><br>
    Address 2:<input type="text" name="address_2"><br>
    City: <input type="text" name="city"><br>
    State: <input type="text" name="state"><br>
    Zip: <input type="text" name="f_name"><br>
    Telephone: <input type="text" name="tel"><br>
    Email: <input type="text" name="email"><br>
    <input type="submit" value="Submit">
</form>
