{% extends "main.j2" %}
{% block title %}Certifications{% endblock %} 
{% set active_page = "certifications" %}
{% block content %}

    <h1> Certifications </h1>
    <h3> This page shows all the certifications at IMO Fitness. Use the below form to add, modify, or delete certifications </h3></center><br>

    <div id="table">
        <table id= "certs_table" border="1" width="100%">
        <thead>
            {% for key in entity[0].keys() %}
    
            <th>{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for key in data.keys() %}
                <td>{{data[key]}}</td>
                {% endfor %}
                <td><a href="emp_certs.html">Certified Employees</a></td>
                <td><button class="edit">edit</button></td>
				<td><button class="delete">delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    
	<br> <br>
	<table>
    </table>
	<br> <br>
	<table>
	<form>
		<tr>
		<td><label for="cert_id">ID</label></td>
		<td><input type="number" id="cert_id"></td>
		</tr>
		<tr>
		<td><label for="cert_name">Name</label></td>
		<td><input type="text" id="cert_name"></td>
		</tr>
	</form>
	</table>
    <div>
        <button type="button">add entry</button>
    </div>
{% endblock %}