{% extends "main.j2" %}
{% block title %}Departments{% endblock %} 
{% set active_page = "classes" %}
{% block content %}

    <h1> Classes </h1>
    <h3> This page shows all the classes at IMO Fitness. Use the below form to add, modify, or delete classes </h3></center><br>

	<div id="table">
        <table id= "classes_table" border="1" width="100%">
        <thead>
            {% for key in entity[0].keys() %}
    
            <th>{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for key in data.keys() %}
                <td>{{data[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
		
	<br> <br>
	<table>
	<br> <br>
	<table>
	<form>
		<tr>
		<td><label for="class_id">ID</label></td>
		<td><input type="number" id="class_id"></td>
		</tr>
		<tr>
		<td><label for="class_name">Name</label></td>
		<td><input type="text" id="class_name"></td>
		</tr>
		<tr>
		<td><label for="instructor">Instructor</label></td>
		<td><input type="number" id="instructor"></td>
		</tr>
		<tr>
		<td><label for="time">Start Time (24 Hr, CST)</label></td>
		<td><input type="time" id="time"></td>
		</tr>
		<tr>
		<td><label for="length">Length (in minutes)</label></td>
		<td><input type="number" id="length"></td>
		</tr>
		<tr>
		<td><label for="class_total">Current Enrollment</label></td>
		<td><input type="number" id="class_total"></td>
		</tr>
		<tr>
		<td><label for="class_max">Max Enrollment</label></td>
		<td><input type="number" id="class_max"></td>
		</tr>
		
	</form>
	</table>
    <div>
        <button type="button">add entry</button>
    </div>
{% endblock %}