{% extends "main.j2" %}
{% block title %}Classes{% endblock %} 
{% set active_page = "classes" %}
{% block content %}

    <h1> Class Enrollment </h1>
    <h3> This page shows members enrolled in the {{ class_id }} class </h3>

    {% if entity != () %}
        <div style="overflow-x:auto" class="table">
            <table class="nostretch" id="classes_details_table" border="1">

                <thead>
                {% for key in entity[0].keys() %}

                <th id="thead">{{ key }}</th>

            {% endfor %}
        </thead>
            <tbody>
            {% for data in entity %}
                <tr>
                    {% for key in data.keys() %}
                        <td>{{ data[key] }}</td>
                    {% endfor %}
                    <td><input type="button" value="remove"
                               onclick="window.location ='/delete_mem_class?class_id={{ class_id }}&member_id={{ data.member_id }}'">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h2> No Members are enrolled in this class </h2>
    {% endif %}

{% endblock %}

