{% extends "main.j2" %}
{% block title %}Classes{% endblock %} 
{% set active_page = "classes" %}
{% block content %}

    <h1> Class Details </h1>
    <h3> This page shows a single class's details </h3>
{% endblock %}
    <!--
    <div id=insert-right>
        <button type="button"><a href="add_class">Add class</a></button>
    </div>
    <div style="overflow-x:auto" class="table">
        <table class="nostretch" id= "classes_table" border="1">
            <thead>
                {% for key in entity[0].keys() %}
                <th id="thead">{{ key }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for data in entity %}
                <tr>
                    {% for key in data.keys() %}
                    <td>{{data[key]}}</td>
                    {% endfor %}
                    <td><button class="edit">edit</button></td>
                    <td><button class="delete">delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    -->
