{% extends "main.j2" %}
{% block title %}Classes{% endblock %} 
{% set active_page = "classes" %}
{% block content %}

    <h1> Classes </h1>
    <h3> This page shows all the classes at IMO Fitness. Use the below form to add, modify, or delete classes </h3></center><br>

    <div id=insert-right>
        <button type="button"><a href="add_class">Add class</a></button>
    </div>
	<div style="overflow-x:auto" class="table">
        <table class="nostretch" id= "classes_table" border="1">
        <thead>
            {% for key in entity[0].keys() %}
    
            <th id="thead">{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for key in data.keys() %}
                <td>{{data[key]}}</td>
				<td><a style="color:blue;font-size:10px" herf="class_details?class={{data[key][2]}}">Class Details</a></td> {# not created but could show class details #}
                {% endfor %}
				<td><button class="edit">edit</button></td>
				<td><button class="delete">delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
	</div>
    <div>
        <button type="button"><a href="add_class">Add class</a></button>
    </div>
{% endblock %}