
{% extends "main.j2" %}
{% block title %}Departments{% endblock %} 
{% set active_page = "departments" %}
{% block content %}
    <h1> Departments </h1>
    <h3> This page shows all the departments at IMO Fitness. Use the below form to add, modify, or delete departments </h3></center><br>
{% endblock %}
    {% block table %} {% endblock %}
{% block content %}
	<br> <br>
	<table>
	<form>
		<tr>
		<td><label for="dept_id">ID</label></td>
		<td><input type="number" id="dept_id"></td>
		</tr>
		<tr><td><label for="dept_name">Name</label></td>
		<td><input type="text" id="dept_name"></td></tr>
		<tr><td><label for="supervisor">Supervisor</label>
		<td><input type="number" id="supervisor"></td></tr>
		<tr><td><label for="dept_total">Total employees</label>
		<td><input type="number" id="dept_total"></td></tr>
	</form>
	</table>
    <div>
        <button type="button">add entry</button>
    </div>
{% endblock %}
