<html>
<head>
    <title> IMO Fitness Database </title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1> Departments </h1>
    <p> This page shows all the departments at IMO Fitness </p>
    <p> You can search, add, modify or delete a department. </p>

    <table id= "dept_table"  >
    <thead>
        <th>dept_id </th>  
        <th>dept_name</th>
        <th>supervisor</th>  
        <th>dept_total</th>
        <th>modify</th>
    </thead>
    <tbody>
        <tr> {# sample data #}
            <td>1</td>
            <td>training</td>
            <td>14</td>
            <td>1</td>
            <td><button type="button">edit</button><button type="delete">delete</button></td>
        </tr>
        {% for row in depts %}
        <tr>
            <td>{{row['dept_id']}}</td>
            <td>{{row['dept_name']}}</td>
            <td>{{row['supervisor']}}</td>
            <td>{{row[dept_total]}}</td>
            <td><button type="button">edit</button><button type="delete">delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div>
        <button type="button">add entry</button>
    </div>

    <p><a href="/">home</a></p>
</body>
</html>