
{% extends "main.j2" %}
{% block title %}Departments{% endblock %} 
{% set active_page = "departments" %}
{% block content %}
    <h1> Departments </h1>
    <h3> This page shows all the departments at IMO Fitness. Use the below form to add, modify, or delete departments </h3></center><br>
	
    <div id=insert-right>
        <button type="button"><a href="add_department">Add Department</a></button>
    </div>
    <div style="overflow-x:auto" class="table">
        <table class="nostretch" id= "dept_table" border="1">
        <thead>
            {% for key in entity[0].keys() %}
    
            <th id="thead">{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for value in data.keys() %}
                <td>{{data[value]}}</td>
                    {% if loop.last %}
                    <td><a style="color:blue;font-size:10px" href="{{ url_for( 'emp_dept', dept_id=data.dept_id ) }}">department employees</a></td>
                    <td><a href="{{ url_for( 'update_department', dept_id=data.dept_id ) }}"><input type="button" class="edit" value="update" ></a></td>
                    {% endif %}
                {% endfor %}
                
                <td><button class="delete">delete</button></td>
                
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div>
        <button type="button"><a href="add_department">Add Department</a></button>
    </div>

{% endblock %}
