{% extends "main.j2" %}
{% block title %}Employees{% endblock %} 
{% set active_page = "others" %}
{% block content %}
    <h1> Employee Jobs </h1>
    <h3> This page shows all employees assigned to jobs </h3>
    <div style="overflow-x:auto" class="table">
        <table class="nostretch" id="emp_jobs_table" border="1">
            <thead>
            {% for key in entity[0].keys() %}
    
            <th id="thead">{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for key in data.keys() %}
                <td>{{data[key]}}</td>
                {% endfor %}
                <td><input type="button" value="Employees Details" onclick="window.location.href ='{{ url_for('emp_details', emp_id=data.emp_id) }}';"></td>
                <td><input type='button' value="edit" onclick="window.location.href ='{{ url_for('update_emp_job', job_id=data.job_id, emp_id=data.emp_id) }}';"></td>
                <td><input type="button" value="delete" onclick="window.location ='/delete_emp_job?job_id={{ data.job_id }}&emp_id={{ data.emp_id }}'"></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <h3> * To assign an employee to a job navigate to the Jobs page </h3>

{% endblock %}