{% extends "main.j2" %}
{% block title %}Certified Employees {% endblock %} 
{% set active_page = "certifications" %}
{% block content %}

    <h1> Certifications </h1>
    <h3> This page shows all the employees with a specific certifications at IMO Fitness. Use the below form to add, modify, or delete certifications </h3></center><br>

    <div id="table">
        <table id= "certs_table" border="1" width="100%">
        <thead>
            {% for key in entity[0].keys() %}
    
            <th>{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for key in data.keys() %}
                <td>{{data[key]}}</td>
                {% endfor %}
                <td><a href="emp_details.html">Employee Details</a></td>
                <td><button class="edit">edit</button></td>
				<td><button class="delete">delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>