{% extends "main.j2" %}
{% block title %}Employees{% endblock %} 
{% set active_page = "others" %}
{% block content %}
    {% set table_headers = ('Employee ID', 'First Name', 'Last Name', 'Gender', 'Address 1', 'Address 2', 'City', 'State', 'Zip', 'Phone', 'Email', 'Start Date', 'End Date', 'Status', 'Department Number') %}
    <h1> Employee Details </h1>
    <h3> This page shows all of employee: {{ emp_id }}'s details </h3>
    <div style="overflow-x:auto" class="table">
        <table class="nostretch" id="emp_details_table" border="1">
            <thead>
            {% for header in table_headers %}

                <th id="thead">{{ header }}</th>

            {% endfor %}
            <th colspan="2">Modify</th>
            </thead>
            <tbody>
            {% for data in entity %}
                <tr>
                    {% for key in data.keys() %}
                        <td>{{ data[key] }}</td>
                    {% endfor %}
                    <td><input type='button' value="edit"
                               onclick="window.location.href='{{ url_for('update_employee', emp_id=data.emp_id) }}';">
                    </td>
                    <td>
                        <form class="form_delete" action="/delete_employee?emp_id={{ data.emp_id }}" method="post">
                            <input type="hidden" id="user_input{{ data.emp_id }}" name="user_input" value="">
                            <input type='submit' id="emp_delete" value="delete"
                                   onclick="message('user_input{{ data.emp_id }}')">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ return_page }}"><u>back to {{ page }}</u></a>
{% endblock %}