{% extends "main.j2" %}
{% block title %}Certified Employees {% endblock %} 
{% set active_page = "others" %}
{% block content %}

    <h1> Employee Certifications </h1>
    <h3> This page shows all the employees with a specific certifications at IMO Fitness. Use the below form to add, modify, or delete certifications </h3></center><br>

    <div id=insert-right>
        <button type="button"><a href="add_emp_certs">Add Employee Certification</a></button>
    </div>
    <div style="overflow-x:auto" id="table">
        <table class="nostretch" id= "certs_table" border="1" width="100%">
        <thead>
            {% for key in entity[0].keys() %}
    
            <th id="thead">{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for key in data.keys() %}
                <td>{{data[key]}}</td>
                {% endfor %}
                <td><a style="color:blue;font-size:10px" href="emp_details">Employee Details</a></td>
                <td><button class="edit">edit</button></td>
				<td><button class="delete">delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div>
        <button type="button"><a href="add_emp_certs">Add Employee Certification</a></button> {# create add for emp_cert where dow drop down menues let you assign existing employees to existing certs #}
    </div>
{% endblock %}