{% extends "main.j2" %}
{% block title %}Employees{% endblock %} 
{% set active_page = "others" %}
{% block content %}
    <h1> Employee Jobs </h1>
    <h3> This page shows all of a specific employess jobs </h3>
	
    <div id=insert-right>
        <button type="button"><a href="add_emp_jobs">Assign Job</a></button>
    </div>
    <div style="overflow-x:auto" class="table"> 
        <table class="nostretch" id= "dept_table" border="1" >
        <thead>
            {% for key in entity[0].keys() %}
    
            <th id="thead">{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for key in data.keys() %}
                <td>{{data[key]}}</td>
                {% endfor %}
                <td><button class="edit">edit</button></td>
				<td><button class="delete">delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div>
        <button type="button"><a href="add_emp_jobs">Assign Job</a></button> {# create add for emp_job where dow drop down menues let you assign existing employees to existing jobs #}
    </div>

{% endblock %}