{% extends "main.j2" %}
{% block title %}Employees{% endblock %} 
{% set active_page = "employees" %}
{% block content %}
    <h1> Employees </h1>
    <h3> This page shows all the employees at IMO Fitness. Use the below form to search, add, modify, or delete employees </h3></center><br>
	
	<input type="text" id="emp_search" placeholder="Last name search..." onkeyup="empSearch()" title="name search">
	<div id=insert-right>
        <button type="button"><a href="add_employee">Add Employee</a></button>
    </div>
	<br><br>

    <div style="overflow-x:auto" id="table">
        <table class="nostretch" id= "emp_table" border="1" width="100%">
        <thead class="table-head">
            {% for key in entity[0].keys() %}
    
            <th id="thead">{{ key }}</th>
    
            {% endfor %}
        </thead>
        <tbody>
            {% for data in entity %}
            <tr>
                {% for key in data.keys() %}
                <td>{{data[key]}}</td>
                {% endfor %}
				<td><button class="edit">edit</button></td>
				<td><button class="delete">delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
	</div>
    <div>
        <button type="button"><a href="add_employee">Add Employee</a></button>
    </div>
{% endblock %}