{% extends "main.j2" %}
{% block title %}Employees{% endblock %} 
{% set active_page = "employees" %}
{% block content %}
{% set table_headers = ('Employee ID', 'First Name', 'Last Name', 'Status', 'Department Number') %}
    <h1> Employees </h1>
    <h3> This page shows all the employees at IMO Fitness. Use the below form to search, add, modify, or delete
        employees </h3></center><br>

    <form id="employee_search" action="/employee_search" method="POST">
        <input type="text" name="emp_search" onkeyup="empSearch()" id="emp_search" placeholder="Last name search..."
               title="name search"
               required>
        <input type="submit">
    </form>
    <div id=insert-right>
        Show Only Active: <input class="cm-toggle" type="checkbox" id="Active" onclick="isActive('employees')"><br>
        <button type="button"><a href="add_employee">Add Employee</a></button>
    </div>
    <br><br>

    <div style="overflow-x:auto" class="table">
        <table class="nostretch" id="emp_table" border="1">
            <thead class="table-head">
            {% for header in table_headers %}

                <th id="thead">{{ header }}</th>

            {% endfor %}
            <th>Details</th>
            <th colspan="2">Modify</th>
            </thead>
            <tbody>
            {% for data in entity %}
                <tr>
                    {% for key in data.keys() %}
                        <td>{{ data[key] }}</td>
                    {% endfor %}
                    <td><input type="button" value="details"
                               onclick="window.location.href='{{ url_for('emp_details', emp_id=data.emp_id) }}';"></td>
                    <td><input type='button' value="edit"
                               onclick="window.location.href='{{ url_for('update_employee', emp_id=data.emp_id) }}';">
                    </td>
                    <td>
                        <form action="/delete_employee?emp_id={{ data.emp_id }}" method="post">
                            <input type="hidden" id="user_input" name="user_input">
                            <input type='submit' id="emp_delete" value="delete" onclick="message()">
                        </form>
                        <!-- onclick="window.location='/delete_employee?emp_id={{ data.emp_id }}'"> -->
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button type="button"><a href="add_employee">Add Employee</a></button>
    </div>
{% endblock %}
{% block note %}
    * An employee can't be deleted if the employee is an instructor to a class. Please re-assign class to a new
    instructor
    before attempting to delete.
{% endblock %}
