
{% extends "main.j2" %}
{% block title %}Home{% endblock %} 
{% set active_page = "index" %}
{% block content %}
    <h1> Welcome to the database for IMO Fitness </h1>
    <h3> Please use the links at the top to navigate the database </h3><br>
    <div id="index_summary">
        <p id="intro">
            The Links in the navigation bar represent all tables in the IMO fitness database.<br>
            You can find all composite tables in the "Others" tab. Buttons have been added throughout<br>
            the website providing more specific views of the database information.
        </p>
    </div>
{% endblock %}