<html>
<head>
    <title> IMO Fitness Database </title>
    <link rel="stylesheet" href="style.css">
</head>

  <div id="navBar" class="topnav">
   <a class="active" href="index.html">Home</a>
   <a href="certifications.html">Certifications</a>
   <a href="classes.html">Classes</a>
   <a href="departments.html">Departments</a>
   <a href="employees.html">Employees</a>
   <a href="jobs.html">Jobs</a>
   <a href="members.html">Members</a>
 </div>
 
<body><center>
    <h1> Welcome to the database for IMO Fitness </h1>
    <h3> Please use the links at the top to navigate the database </h3></center><br>
	
</body></html>