{% extends "main.j2" %}
{% block title %}Jobs{% endblock %}
{% set active_page = "jobs" %}
{% block content %}
    {% set table_headers = ( 'Employee ID', 'Department','First Name', 'Last Name', 'Description') %}
    <h1>Job Employees</h1>
    <h3>This page shows all employees assigned to Job: {{ job_id }} </h3>
    <div style="overflow-x:auto" class="table">
        <table class="nostretch" id="job_emps_table" border="1">
            {% if entity != () %}
                <thead>
                {% for header in table_headers %}
                    <th id="thead">{{ header }}</th>
                {% endfor %}
                <th>Modify</th>
                </thead>
                <tbody>
                {% for data in entity %}
                    <tr>
                        {% for key in data.keys() %}
                            <td>{{ data[key] }}</td>
                        {% endfor %}
                        <td><input type="button" value="remove"
                                   onclick="window.location ='/delete_emp_job?job_id={{ job_id }}&emp_id={{ data.emp_id }}'">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
                <a href="{{ return_page }}"><u>back to {{ page }}</u></a>
            {% else %}
                <h2> No employees are assigned to this job </h2>
            {% endif %}
{% endblock %}