{% extends "main.j2" %}
{% block title %}Departments{% endblock %} 
{% set active_page = "departments" %}
{% block content %}

    <h1> Jobs </h1>
    <h3> This page shows all the jobs at IMO Fitness. Use the below form to add, modify, or delete jobs </h3></center><br>

    <table id= "job_table" border="1" width="100%">
    <thead>
        <th>job_id</th>  
        <th>dept_number</th>
        <th>Edit Entry</th>
		<th>Delete Entry</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td><button type="button">edit</button></td>
			<td><button type="delete">delete</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>1</td>
            <td><button type="button">edit</button></td>
			<td><button type="delete">delete</button></td>
        </tr>
    </tbody>
    </table>
	<br> <br>
	<table>
	<form>
		<tr>
		<td><label for="job_id">ID</label></td>
		<td><input type="number" id="job_id"></td>
		</tr>
		<tr>
		<td><label for="dept_id">Department ID</label></td>
		<td><input type="number" id="dept_id"></td>
		</tr>
	</form>
	</table>
    <div>
        <button type="button">add entry</button>
    </div>
{% endblock %}