{% extends "main.j2" %}
{% block title %}Departments{% endblock %} 
{% set active_page = "jobs" %}
{% block content %}
    {% block content_head %}
        {% block heading %} Jobs {% endblock %}
        {% block subheading %} This page shows all the members at IMO Fitness. Use the below form to search, add, modify, or delete members {% endblock %}
    {% endblock %}
    {% block table %}
        entity = entity
    {% endblock %}

	<br> <br>
	<table>
	<br> <br>
	<table>
	<form>
		<tr>
		<td><label for="job_id">ID</label></td>
		<td><input type="number" id="job_id"></td>
		</tr>
		<tr>
		<td><label for="dept_id">Department ID</label></td>
		<td><input type="number" id="dept_id"></td>
		</tr>
	</form>
	</table>
    <div>
        <button type="button">add entry</button>
    </div>
    {% endblock %}
{% endblockv%}