<html>
<head>
    <title> IMO Fitness Database </title>
</head>
<body>
    <h1> IMO Fitness Database </h1>
    <p> This database is for administrative use </p>
    <p> Click a page below to navigate to it </p>
    <p><a href="/departments">departments</a></p>
    <p><a href="/employees">employees</a></p>
    <p><a href="/emp_dept">department employees</a></p>
    <p><a href="/certifications">certifications</a></p>
    <p><a href="/emp_certs">employee certifications</a></p>
    <p><a href="/emp_jobs">employee jobs</a></p>
    <p><a href="/jobs">jobs</a></p>
    <p><a href="/members">members</a></p>
    <p><a href="/classes">classes</a></p>
    <p><a href="/mem_classes">member classes</a></p>
</body>
</html>