<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="static/css/stylesheet.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id=header> {# container for header possibly add a log here #}
        {% block header %}
        {% set navigation_bar = [
            ('/', 'index', 'Index'),
            ('/departments', 'departments', 'Departments'),
            ('/employees', 'employees', 'Employees'),
            ('/emp_dept', 'emp_dept', 'Emp_dept'),
            ('/certifications', 'certifications', 'Certifications'),
            ('/emp_certs', 'emp_certs', 'Emp_certs'),
            ('/emp_jobs', 'emp_jobs', 'Emp_jobs'),
            ('/jobs', 'jobs', 'Jobs'),
            ('/members', 'members', 'Members'),
            ('/classes', 'classes', 'Classes'),
            ('/mem_classes', 'mem_classes', 'mem_classes'),
            ] -%}
        {% set active_page = active_page|default('index') -%}
        <nav id="nav">
            <ul id="navigation">
            {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="navigation-link current"{% endif%} class="navigation-link">
                <a href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        {% endblock %}
    </div>

    <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>