<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="static/css/stylesheet.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id=header> {# container for header possibly add a log here #}
        {% block header %}
        {% set navigation_bar = [
            ('/', 'index', 'Home'),
            ('/departments', 'departments', 'Departments'),
            ('/employees', 'employees', 'Employees'),
            ('/certifications', 'certifications', 'Certifications'),
            ('/jobs', 'jobs', 'Jobs'),
            ('/members', 'members', 'Members'),
            ('/classes', 'classes', 'Classes'),
            ('/others', 'others', 'Other Tables'),
            ] -%}
        {% set active_page = active_page|default('index') -%}
        <nav id="nav">
            <ul id="navigation">
            {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="navigation-link current"{% endif%} class="navigation-link">
                <a class='navigation-link' href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
   
</body>
</html>