{% extends "main.j2" %}
{% block title %}Class Enrollment{% endblock %} 
{% set active_page = "others" %}
{% block content %}

    <h1> Class Enrollment </h1>
    <h3> This page shows all enrolled in classes at IMO Fitness. Use the below form to add or remove a member from a class </h3></center><br>

    <div id=insert-right>
        <button type="button"><a href="add_mem_classes">Enroll member in class</a></button>
    </div>
	<div style="overflow-x:auto" class="table">
        <table class="nostretch" id= "classes_table" border="1">
            {% if entity != () %}
            <thead>
                {% for key in entity[0].keys() %}
    
                <th id="thead">{{ key }}</th>
    
                {% endfor %}
            </thead>
            <tbody>
                {% for data in entity %}
                <tr>
                    {% for key in data.keys() %}
                    <td>{{data[key]}}</td>
                    {% endfor %}
                    <td><a style="color:blue;font-size:10px" href="class_details">Class details</a></td> {# creat a view for class details #}
				    <td><a href="mem_details">Member details</a></td> {# create a view for member details #}
				    <td><button class="edit">edit</button></td>
				    <td><button class="delete">delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	</div>

        {% else %}
        <h2> No members are enrolled in classes </h2>
        {% endif %}
    <div>
        <button type="button"><a href="add_mem_classes">Enroll member in class</a></button> {# create a page to add an existing member to a class #}
    </div>

{% endblock %}