<html>
<head>
    <title> IMO Fitness Database </title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1> Members </h1>
    <p> This page shows all the members associated with IMO Fitness </p>
    <p> You can search, add, modify or delete a member. </p>
    <table>
        <tr>
            <th>member_id </th>  
            <th>f_name</th>
            <th>l_name</th>
            <th>gender</th>
            <th>address_1</th>
            <th>address_2</th>  
            <th>city</th>
            <th>state</th>
            <th>zip</th>  
            <th>tel</th>
            <th>email</th>  
            <th>active_member</th>
        </tr>
    </table>
    <p><a href="/">home</a></p>
</body>
</html>