{% extends "main.j2" %}
{% block title %}Employees{% endblock %} 
{% set active_page = "employees" %}
{% block content %}
    <h1>Employee</h1>
    <h3>Update Employee: {{ employee.emp_id }}</h3>
    <form id="update_employee" action="/update_employee?emp_id={{ employee.emp_id }}" method="POST">
        <input type="hidden" value="{{ employee.emp_id }}">
        First name: <input type="text" name="f_name" value="{{ employee.f_name }}" required><br>
        <br>
        Last name: <input type="text" name="l_name" value="{{ employee.l_name }}" required><br>
        <br>
        Gender: <select name="gender" required>
            {% if employee.gender == "MALE" %}
                <option selected value = "MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="NONBINARY">NonBinary</option>   
            {% elif employee.gender == "FEMALE" %}
                <option selected value="FEMALE"> Female</option>
                <option selected value = "MALE">Male</option>
                <option value="NONBINARY">NonBinary</option> 
            {% else %}
                <option selected value="NONBINARY"> NonBinary</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            {% endif %}
            </select><br>
        <br>
        Address 1: <input type="text" name="address_1" value="{{ employee.address_1 }}" required><br>
        <br>
        Address 2:<input type="text" name="address_2" value="{{ employee.address_2 }}"><br>
        <br>
        City: <input type="text" name="city" value="{{ employee.city }}" required><br>
        <br>
        State: <input type="text" name="state" value="{{ employee.state }}" minlength="2" maxlength="2" required><br>
        <br>
        Zip: <input type="text" name="zip" value="{{ employee.zip }}" minlength="2" maxlength="2" required><br>
        <br>
        Telephone: <input type="tel" name="tel" value="{{ employee.tel }}" minlength="12" maxlength="12"
                          placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br>
        <small>Format: 123-456-7890</small><br><br>
        <br>
        Email: <input type="email" name="email" value="{{ employee.email }}" required><br>
        <br>
        Start date: <input type="Date" name="start_date" value="{{ employee.start_date }}" readonly><br>
        <br>
        End date: <input type="Date" id="end" name="end_date" value="{{ employee.end_date }}" oninput="disable()"><br>
        <br>
        Department: <select name="dept" id="departments" required>
        {% for d in dept %}
            {{ d.dept_id }}
            {{ employee.dept_number }}
            {% if d.dept_id == employee.dept_number %}
                <option selected value="{{ d.dept_id }}">{{ d.dept_name }}</option>
            {% else %}
                <option value="{{ d.dept_id }}">{{ d.dept_name }}</option>
            {% endif %}
        {% endfor %}
        <option value="">None</option>
    </select><br>
        <input type="submit" value="Submit">
    </form>
    <a href="{{ return_page }}"><u>back to {{ entity }}</u></a>
{% endblock %}
{% block note %}
    * To make employee department nullable, an employee's status must be "NOT ACTIVE". Enter an end-date to change an
    employee status to "NOT ACTIVE".
{% endblock %}