{% extends "main.j2" %}
{% block title %}Certified Employees {% endblock %} 
{% set active_page = "others" %}
{% block content %}

    <h1> Update Employee Certifications </h1>
    <h3>  Update {{ employee }} certification </h3><br>
    <form id='add_emp_certs' action='/update_emp_certs' method='post'>
        <input type="hidden" value="{{ employee.emp_id }}">
    Employee name: <input type="text" name="employee" value='{{ employee.f_name + " " + employee.l_name }}' readonly><br>
    <br>
    Certification: <select name="cert">
        {% for c in certs %}
            {% if c.cert_id == curr_cert_id %}
                <option selected value="{{ c.cert_id }}">{{ c.cert_name }}</option>
            {% else %}
                <option value="{{ c.cert_id }}">{{ c.cert_name }}</option>
            {% endif %}
        {% endfor %}
        </select><br>
    <br> <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}